NOTE: The *first* time that you start investigating a state, you need to load the data for it by using this notebook.
Once the data has been pulled to your local server, it can be re-used until the local database is purged.

In [1]:
import emission.public.pull_and_load_public_data as plpd
import pandas as pd

In [2]:
ranges_df = pd.read_csv("../results_spring_2016/ranges.csv", error_bad_lines=False)

Skipping line 53: expected 7 fields, saw 8

In [3]:
ranges_df.head()

,start_ts,start_fmt_time,end_ts,end_fmt_time,state,android_regime,ios_regime
0,1.459279e+09,2016-03-29T12:17:14.700000-07:00,1.459288e+09,2016-03-29T14:46:54.916000-07:00,moving,high+1sec,best+1m
1,1.459288e+09,2016-03-29T14:46:54.916000-07:00,1.459301e+09,2016-03-29T18:30:30.685000-07:00,loitering,high+1sec,best+1m
2,1.459301e+09,2016-03-29T18:30:54.916000-07:00,1.459302e+09,2016-03-29T18:42:30.685000-07:00,moving,high+1sec,best+1m
3,1.459302e+09,2016-03-29T18:42:30.685000-07:00,1.459311e+09,2016-03-29T21:06:30.275000-07:00,moving,high+1sec,best+1m
4,1.459311e+09,2016-03-29T21:06:30.275000-07:00,1.459343e+09,2016-03-30T06:00:09.654643-07:00,stationary,high+1sec,best+1m

In [4]:
import emission.storage.timeseries.aggregate_timeseries as estag

In [5]:
public_ids = estag.TEST_PHONE_IDS

In [6]:
regime_grouped_ranges_df = ranges_df.groupby(['state', 'android_regime', 'ios_regime'])

In [7]:
def pull_data_from_server(state, android_regime):
    for key, df in regime_grouped_ranges_df:
        if key[0] == state and key[1] == android_regime:
            # one row for each phone
            # each row contains len(moving ranges) dataframes
            for row in df.to_records():
                print "Pulling data for range %s -> %s" % (row.start_ts, row.end_ts)
                plpd.request_batched_data("https://e-mission.eecs.berkeley.edu", row.start_ts, row.end_ts, 
                                          map(str, public_ids))

In [8]:
pull_data_from_server("moving", "high+1sec")

Pulling data for range 1459279034.7 -> 1459288014.92
Data loaded to local server!
Pulling data for range 1459301430.68 -> 1459302150.68
Data loaded to local server!
Pulling data for range 1459302150.68 -> 1459310790.28
Data loaded to local server!

In [ ]:
pull_data_from_server("stationary", "high+1sec")

Pulling data for range 1459310790.28 -> 1459342809.65
Data loaded to local server!

In [ ]:
pull_data_from_server("loitering", "high+1sec")

Pulling data for range 1459288014.92 -> 1459301430.68